<div class="main_container">
  <h2>your dashboard</h2>
  <h3>rookie level 6/6 </h3>
   <h3 class="status">level mastered</h3>

  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @rookie_videos.each_with_index do |video, i| %>
           <% i = i.to_s %>
            <% if i == '0' %>
              <div class="carousel-item active">
                <div class="card-video" id="results">
                  <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
                  <% if interaction && interaction.completed? %>
                    <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                    <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
                  <% else %>
                    <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                  <% end %>
                    <div class="card-video-infos">
                      <div>
                        <h2><%= video.sub_category.name %></h2>
                      </div>
                      <div>
                        <% interaction = Interaction.find_by(user_id: current_user.id, video_id: video.id) %>
                         <% if interaction && interaction.completed? %>
                          <%= link_to "not mastered", video_interactions_path(video, interaction: {completed: false}), method: "POST", class: "btn btn-flat btn-flat-green-view" %>
                        <% else  %>
                          <%= link_to "mastered it", video_interactions_path(video, interaction: {completed: true}), method: "POST", class: "btn btn-flat-green btn-flat-green-view" %>
                        <% end %>
                        <%= link_to 'view video', video_path(video), class: "btn btn-back btn-back-view" %>
                      </div>
                    </div>
                </div>
              </div>
            <% else %>
              <div class="carousel-item">
                <div class="card-video" id="results">
                  <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                  <div class="card-video" id="results">
                  <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
                  <% if interaction && interaction.completed? %>
                    <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                    <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
                  <% else %>
                    <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                  <% end %>
                    <div class="card-video-infos">
                      <div>
                        <h2><%= video.sub_category.name %></h2>
                      </div>
                      <div>
                        <% interaction = Interaction.find_by(user_id: current_user.id, video_id: video.id) %>
                         <% if interaction && interaction.completed? %>
                          <%= link_to "not mastered", video_interactions_path(video, interaction: {completed: false}), method: "POST", class: "btn btn-flat btn-flat-green-view" %>
                        <% else  %>
                          <%= link_to "mastered it", video_interactions_path(video, interaction: {completed: true}), method: "POST", class: "btn btn-flat-green btn-flat-green-view" %>
                        <% end %>
                        <%= link_to 'view video', video_path(video), class: "btn btn-back btn-back-view" %>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <h3>intermediate level 3/8</h3>
  <h3 class="status">mastery within reach</h3>
    <div class="bd-example">
      <div id="carouselExampleCaptions1" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @intermediate_videos.each_with_index do |video, i| %>
            <% i = i.to_s %>
            <% if i == '0' %>
              <div class="carousel-item active">
                <div class="card-video" id="results">
                  <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
                  <% if interaction && interaction.completed? %>
                    <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                    <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
                  <% else %>
                    <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                  <% end %>
                    <div class="card-video-infos">
                      <div>
                        <h2><%= video.sub_category.name %></h2>
                      </div>
                      <div >
                        <% interaction = Interaction.find_by(user_id: current_user.id, video_id: video.id) %>
                         <% if interaction && interaction.completed? %>
                          <%= link_to "not mastered", video_interactions_path(video, interaction: {completed: false}), method: "POST", class: "btn btn-flat btn-flat-green-view" %>
                        <% else  %>
                          <%= link_to "mastered it", video_interactions_path(video, interaction: {completed: true}), method: "POST", class: "btn btn-flat-green btn-flat-green-view" %>
                        <% end %>
                        <%= link_to 'view video', video_path(video), class: "btn btn-back btn-back-view"%>
                      </div>
                    </div>
                </div>
              </div>
            <% else %>
                <div class="carousel-item">
                  <div class="card-video" id="results">
                    <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
                    <% if interaction && interaction.completed? %>
                      <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                      <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
                    <% else %>
                      <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                    <% end %>
                      <div class="card-video-infos">
                        <div>
                          <h2><%= video.sub_category.name %></h2>
                        </div>
                        <div class="card-btns">
                          <% interaction = Interaction.find_by(user_id: current_user.id, video_id: video.id) %>
                           <% if interaction && interaction.completed? %>
                            <%= link_to "not mastered", video_interactions_path(video, interaction: {completed: false}), method: "POST", class: "btn btn-flat btn-flat-green-view" %>
                          <% else  %>
                            <%= link_to "mastered it", video_interactions_path(video, interaction: {completed: true}), method: "POST", class: "btn btn-flat-green btn-flat-green-view" %>
                          <% end %>
                          <%= link_to 'view video', video_path(video), class: "btn btn-back btn-back-view" %>
                        </div>
                      </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>


    <h3>pro level 0/10</h3>
    <h3 class="status">not yet mastered</h3>
    <div class="bd-example">
      <div id="carouselExampleCaptions2" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <% @pro_videos.each_with_index do |video, i| %>
              <% i = i.to_s %>
              <% if i == '0' %>
                <div class="carousel-item active">
                  <div class="card-video" id="results">
                    <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
                    <% if interaction && interaction.completed? %>
                      <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                      <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
                    <% else %>
                      <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                    <% end %>
                      <div class="card-video-infos">
                        <div>
                          <h2><%= video.sub_category.name %></h2>
                        </div>
                        <div>
                          <% interaction = Interaction.find_by(user_id: current_user.id, video_id: video.id) %>
                           <% if interaction && interaction.completed? %>
                            <%= link_to "not mastered", video_interactions_path(video, interaction: {completed: false}), method: "POST", class: "btn btn-flat btn-flat-green-view" %>
                          <% else  %>
                            <%= link_to "mastered it", video_interactions_path(video, interaction: {completed: true}), method: "POST", class: "btn btn-flat-green btn-flat-green-view" %>
                          <% end %>
                          <%= link_to 'view video', video_path(video), class: "btn btn-back btn-back-view" %>
                        </div>
                      </div>
                  </div>
                </div>
              <% else %>
                <div class="carousel-item">
                  <div class="card-video" id="results">
                    <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
                    <% if interaction && interaction.completed? %>
                      <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                      <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
                    <% else %>
                      <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
                    <% end %>
                      <div class="card-video-infos">
                        <div>
                          <h2><%= video.sub_category.name %></h2>
                        </div>
                        <div>
                          <% interaction = Interaction.find_by(user_id: current_user.id, video_id: video.id) %>
                           <% if interaction && interaction.completed? %>
                            <%= link_to "not mastered", video_interactions_path(video, interaction: {completed: false}), method: "POST", class: "btn btn-flat btn-flat-green-view" %>
                          <% else  %>
                            <%= link_to "mastered it", video_interactions_path(video, interaction: {completed: true}), method: "POST", class: "btn btn-flat-green btn-flat-green-view" %>
                          <% end %>
                          <%= link_to 'view video', video_path(video), class: "btn btn-back btn-back-view" %>
                        </div>
                      </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>
