<div class=main_container>
<h1>dashboard</h1>
<h2>rookie level 6/6 </h2>
<h2>level mastered</h2>
  <div class="cards">
    <% @rookie_videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <% interaction = video.interactions.find {|i| i.user_id == current_user.id} %>
          <% if interaction && interaction.completed? %>
            <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
          <% else %>
            <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
            <%= image_tag "stamp.png", alt: "stamp", class: "stamp" %>
          <% end %>
            <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
                <h2 class="card-video-pricing">#{video.rating} Votes</h2>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>


<h2>intermediate level 3/8</h2>
<h2>mastery within reach</h2>
  <div class="cards">
    <% @intermediate_videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
             <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
              </div>
                <h2 class="card-video-pricing">#{video.rating} Votes</h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>


<h2>pro level 0/10</h2>
<h2>not yet mastered</h2>
<div class="cards">
    <% @pro_videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
            <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
              </div>
                <h2 class="card-video-pricing">#{video.rating} Votes</h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
