<div class="main_container">
  <div class="heading-container">
    <h2><strong>what's mastered?</strong></h2>
  </div>
  <h4>rookie level <%= @rookie_completed_count %></h4>
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @rookie_videos.each_with_index do |video, i| %>
           <% i = i.to_s %>
            <% if i == '0' %>
              <div class="carousel-item active">
                <%= render 'carousel_card', video: video %>
              </div>
            <% else %>
              <div class="carousel-item">
                <div class="card-video">
                  <%= render 'carousel_card', video: video %>
                </div>
              </div>
            <% end %>
          <% end %>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <h4>intermediate level <%= @intermediate_completed_count %></h4>
    <div class="bd-example">
      <div id="carouselExampleCaptions1" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @intermediate_videos.each_with_index do |video, i| %>
            <% i = i.to_s %>
            <% if i == '0' %>
              <div class="carousel-item active">
                <div class="card-video">
                  <%= render 'carousel_card', video: video %>
                </div>
              </div>
            <% else %>
                <div class="carousel-item">
                  <div class="card-video">
                    <%= render 'carousel_card', video: video %>
                  </div>
                </div>
              <% end %>
            <% end %>
        <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>


    <h4>pro level <%= @pro_completed_count %></h4>
    <div class="bd-example">
      <div id="carouselExampleCaptions2" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <% @pro_videos.each_with_index do |video, i| %>
              <% i = i.to_s %>
              <% if i == '0' %>
                <div class="carousel-item active">
                  <div class="card-video">
                    <%= render 'carousel_card', video: video %>
                  </div>
                </div>
              <% else %>
                <div class="carousel-item">
                  <div class="card-video">
                    <%= render 'carousel_card', video: video %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>
