<div class=main_container>
<h1>dashboard</h1>
<% if policy(Video).create? %>
  <%= link_to "Add Video", new_video_path %>
<% end %>
<h2>rookie level 6/6 </h2>
<h2>level mastered</h2>
  <div class="cards">
    <% @rookie_videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <%# if video.interaction.completed && video.interaction.completed == true %>
            <!-- <img src="Photofox.png"> -->
          <%# else %>
            <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
          <%# end %>
            <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
                <h2 class="card-video-pricing">#{video.rating} Votes</h2>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>


<h2>intermediate level 3/8</h2>
<h2>mastery within reach</h2>
  <div class="cards">
    <% @intermediate_videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
            <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
              </div>
                <h2 class="card-video-pricing">#{video.rating} Votes</h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>


<h2>pro level 0/10</h2>
<h2>not yet mastered</h2>
<div class="cards">
    <% @pro_videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
            <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
              </div>
                <h2 class="card-video-pricing">#{video.rating} Votes</h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <button id="upload_widget" class="cloudinary-button">Upload Video</button>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dhm80cc15', 
  uploadPreset: 'ml_default'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>

</div>
