<div class="main_container">

  <div class="heading-container">
   <% if @videos.present? %>
    <h2 class="grid-heading">Master the tricks and <strong>track, share, rate</strong></h2>
  <% end %>
    <%= link_to "Logout", destroy_user_session_path, class: "", :method => :delete if user_signed_in? %>

    <div>
    <span>
    <%= link_to "Login", new_user_session_path, class: "btn btn-flat-login" unless user_signed_in? %>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-flat-signup" unless user_signed_in? %>
    </span>
    </div>
  </div>
  <div class="cards">
    <% if @videos.present? %>
      <% @videos.each do |video| %>
        <% video.helpful = 0 if video.helpful.nil? %>
        <% video.good_style = 0 if video.good_style.nil? %>
        <%= link_to video_path(video) do %>
          <div class="card-video" id="results">
            <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
              <div class="card-video-infos">
                <div>
                  <h6><%= video.title %> </h6>
                  <p><%= video.sub_category.name %></p>
                   <p><%= video.sub_category.difficulty %></p>

                </div>
                  <h2 class="card-video-pricing"> <%=video.helpful%> Votes </h2>
              </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>No video results found</h2>
      <%= link_to "Back to search", search_videos_path, class: "btn btn-back" %>
      <%= link_to "Home", videos_path, class: "btn btn-back" %>
    <% end %>
  </div>
</div>

