<div class=main_container>

  <h1>Let's master some sick tricks!</h1>

    <h3>Your Videos</h3>
  <div class="cards">
    <% @videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video" id="results">
          <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
            <div class="card-video-infos">
              <div>
                <h3><%= video.sub_category.name %></h3>
                <p> other labels go here </p>
              </div>
                <h2 class="card-video-pricing">39 Votes</h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

  <h2>
    <%= form_tag videos_path, method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a trick"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" do %>
          <i class="fas fa-search"></i> Search
          <% end %>
      </div>
    <% end %>
  </h2>


  <div id="container-filter" class="container p-0 m-0">
<!--     <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-post"> -->
          <div class="category-choices">
            <% SubCategory.all.each do |category| %>
                <%= link_to category.name, videos_path(sub_category: category.name), class: "category-choice" %>
            <% end %>
           </div>
        </div>
<!--       </div> -->
<!--     </div>
  </div> -->


