<div class="main_container">

  <div class="heading-container">
   <% if @videos.present? %>
    <h2 class="grid-heading">Master the tricks and <strong>track, share, rate</strong></h2>
  <% end %>
    <div>
    <%= link_to "Login", new_user_session_path, class: "btn btn-flat-login" unless user_signed_in? %>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-flat-signup" unless user_signed_in? %>
    </div>
  </div>
  <div >
    <% if @videos.present? %>
        <% if params[:query].present? || params[:sub_category]%>
          <div>
            <%= form_tag videos_path, method: :get do %>
              <div id="search-form-control" class="search-form-control form-group">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a trick"
              %>
              <%= submit_tag "Search", class: "btn btn-flat" do %>
              <i class="fas fa-search"></i> Search
              <% end %>
            <% end %>
          </div>
          <%= link_to "Back to category filter", search_videos_path, class: "btn btn-back" %>
        <% end %>
      </div>
      <div class="cards">
      <% @videos.each do |video| %>
        <% video.helpful = 0 if video.helpful.nil? %>
        <% video.good_style = 0 if video.good_style.nil? %>
        <%= link_to video_path(video) do %>
          <div class="card-video" id="results">
            <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
              <div class="card-video-infos">
                <div>
                  <h6><strong><%= video.title %></strong></h6>
                  <h2><%= video.sub_category.name %></h2>
                   <h2><%= video.sub_category.difficulty %></h2>

                </div>
                  <div class="card-video-pricing">
                   <h2 ><%=video.helpful %>
                      <span><i class="fa fa-bolt"></i></span>
                    </h2>
                  </div>
              </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>No video results found</h2>
      <%= link_to "Back to search", search_videos_path, class: "btn btn-back" %>
      <%= link_to "Home", videos_path, class: "btn btn-back" %>
    <% end %>
  </div>
</div>

