<% def condition_check %>
  <% if @interaction.vote.nil? %>
  <% false %>
    <% else %>
    <% true %>
  <% end %>
<% end %>


<div class="main_container">
  <div class="heading-container" id="heading-show">
    <h2><strong><%= @video.title %></strong></h2>
  </div>

    <div class="cards-show">
      <div>
        <% if @video.you_tube_key.present? %>
          <iframe id="ytplayer1" type="text/html" width="853" height="505"
          src="https://www.youtube.com/embed/<%= @video.you_tube_key %>?autoplay=1"
          frameborder="0"></iframe>
        <% else %>
          <%= cl_video_tag @video.cloudinary_video_id,
          controls: true,
          transformation: [
            height: 300, width: 400, crop: :fill
           ] %>
        <% end %>
        <span><h5 id="video-level"><%= @video.sub_category.difficulty %> trick</h5></span>
      </div>
    </div>
    <% if user_signed_in? %>

    <div class="interaction-cards">

      <% if @interaction %>
        <% btn_helpful = @interaction.helpful ? "btn-back-help" : "btn-flat-help" %>
        <% btn_good_style = @interaction.good_style ? "btn-back-gs" : "btn-flat-gs" %>
        <% btn_upvote = @interaction.vote ? "btn-vote" : "btn-vote" %>
        <% btn_downvote = @interaction.vote ? "btn-vote" : "btn-vote" %>
      <% end %>

      <div class="interaction-card">
        <div class="font-awesome-div">
          <%= link_to video_interactions_path(@video, interaction: { helpful: true }), method: :post, remote: true, class: "#{btn_helpful}", id: "btn-helpful" do %>
            <i class="fas fa-bolt"></i>
          <% end %>
        </div>
          <p id="helpful-count"><%= "this was helpful " + @video.helpful.to_s %></p>
      </div>

      <div class="interaction-card">
        <div class="font-awesome-div">
          <%= link_to video_interactions_path(@video, interaction: { good_style: true }), method: :post, remote: true, class: "#{btn_good_style}", id: "style" do %>
            <strong>good <br> style</strong>
          <% end %>
        </div>
          <p id="good-style-count"><%= "credit for good style " + @video.good_style.to_s %></p>
      </div>

      <div class="interaction-card">
        <div class="font-awesome-div">
          <%= link_to video_interactions_path(@video, interaction: { upvote: true }), method: :post, remote: true, class: "btn btn-vote", disabled: condition_check, id: "upvote" do %>
            <i class="fa fa-chevron-circle-up"></i>
          <% end %>
          <%= link_to video_interactions_path(@video, interaction: { vote: true }), method: :post, remote: true, class: "btn-vote", id: "downvote" do %>
            <i class="fa fa-chevron-circle-down"></i>
          <% end %>
        </div>
          <p id="vote-count"><%= "verified as mastered " + @video.rating.to_s %></p>
      </div>
    </div>

  <% else %>
    Login to vote, rate and verify this video's mastery!
    <div>
    <%= link_to "Login", new_user_session_path, class: "btn btn-flat" %>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
