<div class="main_container">

  <h1>Labels go here</h1>

  <div class="cards-show">
    <div>
      <iframe id="ytplayer1" type="text/html" width="853" height="505"
        src="https://www.youtube.com/embed/<%= @video.you_tube_key %>?autoplay=1"
        frameborder="0"></iframe>
    </div>

    <div class="card-category">
      <%= link_to "helpful", "#", class: "btn btn-back" %>
      <%= link_to "good style", "#", class: "btn btn-flat" %>
      <%= link_to "#", class: "icons" do %>
        <i class="far fa-thumbs-up"></i>
      <% end %>
      <i class="fas fa-user-graduate"></i>
      <%= link_to "#", class: "icons" do %>
        <i class="far fa-thumbs-down"></i>
      <% end %>
    </div>

  </div>
</div>

