<div class="main_container">

  <h1>Labels go here</h1>

  <div class="cards-show">
    <div>
      <% if @video.you_tube_key.present? %>
        <iframe id="ytplayer1" type="text/html" width="853" height="505"
        src="https://www.youtube.com/embed/<%= @video.you_tube_key %>?autoplay=1"
        frameborder="0"></iframe>
      <% else %>
        <%= cl_video_tag @video.cloudinary_video_id, 
        controls: true,
        transformation: [ 
          height: 300, width: 400, crop: :fill
         ] %>
      <% end %>
    </div>

    <div class="cards">
      <% if @interaction %>
        <% btn_helpful = @interaction.helpful ? "btn-primary" : "btn-flat" %>
        <% btn_good_style = @interaction.good_style ? "btn-primary" : "btn-back" %>
        <% btn_up_vote = @interaction.vote ? "btn-primary" : "icons" %>
        <% btn_down_vote = @interaction.vote ? "icons" : (@interaction.vote==nil ? "icons" : "btn-primary") %>
      <% end %>

      <div class="flex-column btn-interaction">
        <%= link_to video_interactions_path(@video, interaction: { helpful: !@interaction.helpful }), method: :post, remote: true, class: "#{btn_helpful}", id: "btn-helpful" do %>
          <i class="fas fa-bolt"></i>
        <% end %>
        <p id="helpful-count"><%= @video.helpful %></p><p>people found this helpful</p>
      </div>

      <div class="flex-column btn-interaction">
        <%= link_to "good style", video_interactions_path(@video, interaction: { good_style: !@interaction.good_style }), method: :post, remote: true, class: "#{btn_good_style}", id: "style" %>
        <p id="good-style-count"><%= @video.good_style %></p><p>likes</p>
      </div>

      <div class="flex-column btn-interaction">
        <%= link_to video_interactions_path(@video, interaction: { upvote: true }), method: :post, remote: true, class: "#{btn_up_vote}", id: "upvote" do %>
          <i class="fas fa-chevron-up"></i>
        <% end %>
        <p id="vote-count"><%= @video.rating %></p>
        <%= link_to video_interactions_path(@video, interaction: { vote: true }), method: :post, remote: true, class: "#{btn_down_vote}", id: "downvote" do %>
          <i class="fas fa-chevron-down"></i>
        <% end %>
      </div>

      <i class="fas fa-user-graduate"></i>
    </div>
  </div>
</div>

