<div class="main_container">

  <h1>Labels go here</h1>

  <div class="cards-show">
    <div>
      <% if @video.you_tube_key.present? %>
        <iframe id="ytplayer1" type="text/html" width="853" height="505"
        src="https://www.youtube.com/embed/<%= @video.you_tube_key %>?autoplay=1"
        frameborder="0"></iframe>
      <% else %>
        <%= cl_video_tag @video.cloudinary_video_id, 
        controls: true,
        transformation: [ 
          height: 300, width: 400, crop: :fill
         ] %>
      <% end %>
    </div>

    <div class="card-category">
      <%= link_to "helpful", video_interactions_path(@video, interaction: { helpful: true }), method: :post, class: "btn btn-flat" %>
      <%= link_to "good style", video_interactions_path(@video, interaction: { good_style: true }), method: :post, class: "icons" %>
      <%= link_to video_interactions_path(@video, interaction: { like: true }), method: :post, class: "btn btn-back" do %>
        <i class="far fa-thumbs-up"></i>
      <% end %>
      <i class="fas fa-user-graduate"></i>
      <%= link_to video_interactions_path(@video, interaction: { like: true }), method: :post, class: "icons" do %>
        <i class="far fa-thumbs-down"></i>
      <% end %>
    </div>
  </div>
</div>

