<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-top">
  <%= link_to "", class: "navbar-brand" do %>
<!--     <h1 id="mastery">Mastery</h1> -->
    <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%# if user_signed_in? %>
          <%= link_to videos_path do %>
            <i class="fas fa-home nav-item active"></i>
          <% end %>
          <%= link_to search_videos_path(@videos) do %>
            <i class="fas fa-search nav-item"></i>
          <% end %>
          <%= link_to dashboard_videos_path do %>
            <i class="fas fa-user-alt nav-item"></i>
          <% end %>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to videos_path, class: "navbar-brand" do %>
          <%= image_tag "Photofox.png", class: "logo" %>
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to "Logout", destroy_user_session_path, id: "btn-logout", :method => :delete if user_signed_in? %>
      </li>
    </ul>
  </div>
</div>
